<!--
la variable "aprobacion" viene de aprobacion-candidatos.component.js
-->
<p>
  datitos:
</p>

<div ng-repeat="aprob in $ctrl.aprobaciones">
  <h1>Fecha: {{aprob.fecha}}</h1>
  <h2>Aprobación: {{aprob.aprobacion}}%</h1>
  <h2>Desaprobación: {{aprob.desaprobacion}}%</h1>
  <hr />
</div>
<!--
<fusioncharts
    width="600"
    height="400"
    type="column2d"
    datasource="{{dataSource}}"
></fusioncharts>
-->
<fusioncharts
 dataformat="jsonurl"
 datasource="{{datosJson}}"
 type="mscolumn2d"
 width="600"
 height="400"
></fusioncharts>

<!--
<ul>
  <li ng-repeat="aprobacion in $ctrl.aprobaciones">
    <span>{{aprobacion.fecha}}</span>
    <p>{{aprobacion.aprobacion}}%</p>
    <p>{{aprobacion.desaprobacion}}%</p>
  </li>
</ul>
-->
